<div class="about-page">
    <div class="form-about">
        <div class="founders-img">
            <img class="circle-img" src="files/img/joan.jpg"/>
            <img class="circle-img second-element" src="files/img/jona.jpg"/>
        </div>
        <p>
            Pharmatesis was created in 2017 when two students Jonathan Lozano and Joan Fernández start talking about build an application that can
            make things easier to the investigators when the research projects information were difficult to handle.
        </p>
        <p>
            The two students start asking themselves what can they do to implement an application to help managing all the big information that a research project 
            have and how can they do it. They started contacting teachers and professionals about the problems that a research investigation has, and then, 
            Pharmatesis was born.
        </p>
        <p>
            Using the knowledge that the two students have learned in their studies, this two young guys started programming an application where any user 
            is able to register and to introduce its investigation data and work with it. 
        </p>
        <p>
            Now it’s your turn, <a href="index.html">start your own project</a>.
        </p>       
    </div>
</div>