<div class="container">
    <form name="manageProjects" novalidate>
        <div>
        <table class="table table-bordered" ng-disabled="manageProjects.$invalid">
            <tr><th>Name</th><th>Projects per page</th></tr>
            <tr>
                <td>
                    <input class="form-control" type="text" ng-model="name" ng-disabled="manageProjects.$invalid"/>
                </td>
                <td>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"/>
                </td>
            </tr>
        </table>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Initial Date</th>
                    <th>End Date</th>
                    <th>Tested Drug</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="project in filteredData | itemsPerPage: pageSize" current-page="currentPage">
                    <td>{{project.name}}</td>
                    <td>{{project.initialDate}}</td>
                    <td>{{project.endDate}}</td>
                    <td>{{project.testedDrug}}</td>
                    <td class="btn-group"><button ng-click="loadProject(project)" class='btn btn-primary btn-sm glyphicon glyphicon-cog'></button>
                    <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-confirm-click="Are you sure to delete this project?" confirmed-click="projectCtrl.deleteProject(project)"></button></td>
                </tr>                
            </tbody>
        </table>
        <div ng-show="manageProjects.$valid">
            <div class="text-left" boundary-links="true">
                <dir-pagination-controls boundary-links="true" template-url="views/templates/dir-pagination-controls.html"></dir-pagination-controls>
            </div>
        </div>
    </form>
    <div class="alert alert-success" ng-show="msg==1">
        <strong>Success!</strong> Project added correctly.
    </div>
</div>
