<div class="container" ng-controller="UserController as userCtrl" ng-init="userCtrl.loadProfessions();userCtrl.loadUser()">
    <form class="modifyProfile" id="modifyProfile" name="modifyProfile" ng-submit="userCtrl.updateProfile()" novalidate>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label for="name">Name *</label>
                <input type="text" id="name" class="form-control" name="name" placeholder="John" ng-model="profileUser.name" required/>
                <label for="name">Surnames *</label>
                <input type="text" id="surnames" name="surnames" class="form-control" placeholder="Sullivan" ng-model="profileUser.surnames" required/>
                
                <label for="email">Email *</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="sullivan.john@mail.com" ng-model="profileUser.email" required/>                    
                <label for="password">Password *</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="*****" ng-model="profileUser.password" required/>                  
                <label for="password">Repeat password *</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="*****" ng-model="password_confirm" required/>
                <label for="phone">Phone *</label>
                <input type="text" id="phone" name="phone" class="form-control" placeholder="123456789" ng-model="profileUser.phone" required/>
                <label for="profession">Profession *</label></br>
                <select id="profession" class="form-control" ng-model="profileUser.professionId" ng-options="profession.getName() for profession in professionsArray">
                </select>
                <label for="specialism">Specialism</label>
                <input type="text" id="specialism" name="specialism" class="form-control" placeholder="Genomics" ng-model="profileUser.specialism"/>      
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 buttons-div">
                <button type="submit" class="btn btn-primary" ng-disabled="modifyProfile.$invalid || profileUser.password != password_confirm"">Modify Profile</button>
                <button type="button" class="btn btn-danger" ng-click="userCtrl.removeUser()">Delete profile</button>
            </div>
        </div>
    </form>
</div>