<div class="login-page">
    <div class="form" ng-controller="UserController as userCtrl">
        <form class="login-form" name="recoveryForm" ng-submit="userCtrl.passwordRecovery()" novalidate>
            <label for="email">Email: *</label>
            <input type="email" id="email" name="email" ng-model="userRec.email" placeholder="peter@mail.com" required/>
            <button type="submit" class="formbutton" name="send" id="send" ng-disabled="recoveryForm.$invalid">Recover</button>
            <button type="button" class="buttonBack" name="back" id="back" ng-click="$parent.action=0">Back</button>
        </form>
    </div>
</div>