<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="media">
                <div class="media-left media-top">
                    <img src="files/img/img_avatar1.png" class="media-object img-circle" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Professional  name</h4>
                    <p>Name: XXXXXXXXXXX</p>
                    <p>Surnames: XXXXXXXXXXX</p>
                    <p>Email: XXXXXXXXXXX</p>
                    <p>Phone: XXXXXXXXXXX</p>
                    <p>Profession: XXXXXXXXXXX</p>
                    <p>Specialism: XXXXXXXXXXX</p>
                </div>
            </div>           
        </div>
        <div class="col-sm-5">
            <div class="media">
                <div class="media-left media-top">
                    <img src="files/img/img_avatar1.png" class="media-object img-circle" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Professional  name</h4>
                    <p>Name: XXXXXXXXXXX</p>
                    <p>Surnames: XXXXXXXXXXX</p>
                    <p>Email: XXXXXXXXXXX</p>
                    <p>Phone: XXXXXXXXXXX</p>
                    <p>Profession: XXXXXXXXXXX</p>
                    <p>Specialism: XXXXXXXXXXX</p>
                </div>
            </div>            
        </div>
        <div class="col-sm-5">
            <div class="media">
                <div class="media-left media-top">
                    <img src="files/img/img_avatar1.png" class="media-object img-circle" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Professional  name</h4>
                    <p>Name: XXXXXXXXXXX</p>
                    <p>Surnames: XXXXXXXXXXX</p>
                    <p>Email: XXXXXXXXXXX</p>
                    <p>Phone: XXXXXXXXXXX</p>
                    <p>Profession: XXXXXXXXXXX</p>
                    <p>Specialism: XXXXXXXXXXX</p>
                </div>
            </div>            
        </div>
        <div class="col-sm-5">
            <div class="media">
                <div class="media-left media-top">
                    <img src="files/img/img_avatar1.png" class="media-object img-circle" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Professional  name</h4>
                    <p>Name: XXXXXXXXXXX</p>
                    <p>Surnames: XXXXXXXXXXX</p>
                    <p>Email: XXXXXXXXXXX</p>
                    <p>Phone: XXXXXXXXXXX</p>
                    <p>Profession: XXXXXXXXXXX</p>
                    <p>Specialism: XXXXXXXXXXX</p>
                </div>
            </div>            
        </div>
        <div class="col-sm-5">
            <div class="media">
                <div class="media-left media-top">
                    <img src="files/img/img_avatar1.png" class="media-object img-circle" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Professional  name</h4>
                    <p>Name: XXXXXXXXXXX</p>
                    <p>Surnames: XXXXXXXXXXX</p>
                    <p>Email: XXXXXXXXXXX</p>
                    <p>Phone: XXXXXXXXXXX</p>
                    <p>Profession: XXXXXXXXXXX</p>
                    <p>Specialism: XXXXXXXXXXX</p>
                </div>
            </div>            
        </div>        
    </div>
</div>
        
