<div class="header">{{project.name}}</div>
<div data-toggle="tooltip" title="Subject's project" ><span class="glyphicon glyphicon-user userico"></span>:: {{subjectsCountProject}}</div>
<div >
	<img src="{{boxPlotYear}}"/>
	<img src="{{barplotSubjectsGenderProject}}"/>
	<img src="{{boxPlotSubjectHeight}}"/>
	<img src="{{boxPlotSubjectWeight}}"/>
	<img src="{{barplotSubjectsBreedProject}}"/>
	<img src="{{barplotSubjectsBloodTypeProject}}"/>
	<img src="{{boxPlotProjectDose}}"/>
	<img src="{{barplotSubjectsSideEffectsProject}}"/>
	<img src="{{barplotSubjectsReactionProject}}"/>
	<img src="{{boxPlotCorrelationWeightDose}}"/>
	<img src="{{boxPlotCorrelationHeightDose}}"/>
</div>

